.row-header
{
  padding-top: 50px;
  border-bottom: 2px solid black;
}

.btn-border
{
  border: 1px solid black;
}

#delete-product-btn
{
  /* margin-left: 30%; */
}

#add-btn
{
  /* margin-right: 30%; */
}

.product
{
  border: 1px solid black;
}

.product p
{
  text-align: center;
}